<!--Footer-->
<div class="row bg-dark footer-main-div">
    <div class="col footer-social-icons">
        <ul>
            <li><a href="#" (click)='gotoFacebook()' target="blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" (click)='gotoTwitter()' target="blank"><i class="fa fa-twitter"></i></a></li>
            <!-- <li><a href="#" (click)='gotoGPlus()' target="blank"><i class="fa fa-google-plus"></i></a></li> -->
            <li><a target="blank" (click)='gotoLinkedIN()'><i class="fa fa-linkedin"></i></a></li>
        </ul>	
    </div>
    
    

</div>
<div class="row footerPower">© 2020 Copyright: Vihanga Thathsara Kaluarachchi Liyanage</div>


<!--End of Footer-->	