<!--WelcomeImgSliderStart-->
<div id="slides" class="carousel slide" data-ride="carousel">
    <!-- <ul class="carousel-indicators"> -->
        <!-- <li data-target="#slides" data-slide-to="0" class="active"></li> -->
        <!-- <li data-target="#slides" data-slide-to="1" ></li>
        <li data-target="#slides" data-slide-to="2" ></li> -->
    <!-- </ul> -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/ImgSlider/Slide1.png"/>
            
                  <div class="carousel-caption">
                      <h2 class="textOverSlide">Stay Home <br>  Stay Safe</h2>
                      <h3 class="country">
                          <svg class="bi bi-geo-alt" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                 <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 002 6c0 4.314 6 10 6 10zm0-7a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                        </svg>Sri Lanka</h3>
                      
                      <button type="button" class="btn btn-info btn-lg">Last Update : {{updatedTime | valueShaper}} </button>
                 </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/ImgSlider/Slide2.png"/>
        </div>
        <div class="carousel-item">
            <img src="../../assets/ImgSlider/Slide3.png"/>
        </div>
    </div>
</div>
<!--WelcomeImgSliderEnd-->
