<div class="row about">
    <div class="col-mb-1 col-sm-1">
        <img class="imgabt" src="../../assets//ImgAbout/imgInfo.png"/>
    </div>
    <div class="col-mb-11 col-sm-11 abttext">This is a dashboard that is built to povide the statistics of the Covid19 virus in Sri Lanka.
        The Website displays the data provided by the API which was published by the Sri Lankan government. Hopes that this
    dashboard provides a good view on the current status of the Covid19 virus in Sri Lanka. <br>
    <p class="thanktext">Thank you for visiting our dashboard!</p></div>
 
</div>

