<!--navBarStart-->
<nav class="navbar navbar-expand-md navbar-light bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logoClass" src="../../assets/Images/logo.png"/></a>

        <!-- <button class="navbar-toggle bg-dark" type="button" data-togger="collaps" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button> -->

            <div class="navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="navbar-item">
                      
                      <a class="nav-Link " [routerLink]="['/home']">Home</a>
                    </li>-->
                    <!-- <li class="navbar-item"> -->
                        <!-- <button type="button" class="btn btn-outline-warning" (click) ='infoSuccess()'>About</button> -->
                       <!-- <a >About</a> -->
                    <!-- </li> -->
                    <!-- <li class="navbar-item">
                        <a class="nav-Link" href="#">Team</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-Link" href="#">Connect</a>
                    </li> -->
                </ul>
            </div>
       
    </div>
</nav>

<!--navBarEnd-->



