<div class="container ">
    <ul>
      <li> <div class="title">Local New Cases Today</div><div class="values"> {{localNewCases | valueShaper}}</div> </li>
      <li> <div class="title">Local Active Cases</div><div class="values"> {{localActiveCases | valueShaper}}</div> </li>
      <li> <div class="title">Total Local Cases</div><div class="values">{{ localTotalCases | valueShaper}}</div> </li>
      <li> <div class="title">Local Covid19 Deaths</div> <div class="values"> {{localDeaths | valueShaper}}</div></li>
      <li> <div class="title">Recovered Count</div><div class="values"> {{localRecovered | valueShaper}}</div> </li>
      <li> <div class="title">Local Suspected Cases</div><div class="values"> {{localTotalIndividualsHospitals | valueShaper}}</div> </li>
      <li> <div class="title">New Cases Globally</div><div class="values">{{globalNewCases | valueShaper}}</div> </li>
      <li> <div class="title">Total Cases Globally</div><div class="values">{{globalTotalCases | valueShaper}}</div> </li>
      <li> <div class="title">New Death Globally</div><div class="values"> {{globalNewDeaths | valueShaper}}</div> </li>
      <li> <div class="title">Total Deaths Globally</div><div class="values">{{totalGlobalDeaths | valueShaper}}</div> </li>
      <li> <div class="title">Total Recoveries</div> <div class="values">{{globalRecovered | valueShaper}}</div></li>
      <li> <div class="title">Total PCR Testing Count</div> <div class="values">{{totalPcrTestingCount | valueShaper}}</div></li>
    </ul>
</div>
<!-- <div class="container justify-content-between my-container" > 
  
     <div class="row justify-content-between my-row" >
      
              <div class="col-xs col-sm col-md card" >

                {{localNewCases | valueShaper}}
                <p>New Local Cases</p>
              </div>

              <div class="col-xs col-sm-2 col-md card" >

                {{localActiveCases | valueShaper}}
                <p>Local Active Cases</p>
              </div>

              <div class="col-xs col-sm col-md card" >

                {{ localTotalCases | valueShaper}}
                <p> Total Local Cases</p>
              </div>
             
         
     </div> 

     <div class="row justify-content-between my-row" >

              <div class="col-xs col-sm col-md card" >

                {{localDeaths | valueShaper}}
                <p>Local Deaths Due to Covid19</p>
              </div>

              <div class="col-xs col-sm col-md card" >

                {{localRecovered | valueShaper}}
                <p>Recovered Count</p>
              </div>
              
             
      </div> 

      <div class="row justify-content-between my-row" >

                <div class="col-xs col-sm col-md card" >

                {{globalNewCases | valueShaper}}
                <p>New Cases Globally for Today</p>
                </div>

                <div class="col-xs col-sm col-md card" >

                  {{globalTotalCases | valueShaper}}
                <p>Total Cases Globally</p>
                </div>

                <div class="col-xs col-sm col-md card" >

                  {{globalNewDeaths | valueShaper}}
                <p>New Death Globally for Today</p>
                </div>
               
              </div>
              

      <div class="row justify-content-between my-row" >

                <div class="col-xs col-sm col-md card" >

                  {{totalGlobalDeaths | valueShaper}}
                <p>Total Deaths Globally</p>
                </div>

                <div class="col-xs col-sm col-md card" >

                  {{globalRecovered | valueShaper}}
                <p>Total Recoveries Globally</p>
                </div>
               
       
      </div>
    </div> -->