/* .my-container{
    box-shadow: tomato;
    border-color: tomato;
    border-radius: 5px;
    border: 5px tomato;
    color: white;
    margin-bottom: 15px;
}
.my-row{
    border-color: tomato;
    border-radius: 5px;
    border: yellow 4px;
    height: 15rem;
    color: white;
}

body{
    border-color: tomato;
    background-color: dimgray;
    color: white;
} */

/*
.card{
    border: 1px solid rgba(0,0,0,125);
     text-align: center;
   justify-content: center;
    border-radius: 4px;
     margin-top: 15px;
    margin-left:5px;
    margin-right:5px; 
    color: tomato;
    font-size: 4rem;

}

.card p{
    font-size: 20px;
}

#divChart{
    display: block;
    
}
*/

.container{
    width: 90%;
    overflow: hidden;
    /* background:skyblue; */
    margin: auto;
    margin-top: 20px auto;
    /* padding: 20px 0px; */
}

.container ul{
    padding: 0px;
    margin: 0px;
}

.container ul li{
    list-style: none;
    float: left;
    width: 20%;
    height: 200px;
   margin-right: s ;
    box-shadow: 0px 0px 10px 2px #17a2b7;
    /* box-shadow: 0px 10px 25px #aaaaaa; */
    background: white;
    margin :15px 0px 20px 55px; 
    /* margin: 40px 30px 0px 50px; */
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 1rem;

}

.container ul li .title:hover{
   background:#17daf880;
   /* color: tomato; */

 }

.container ul li .title{
    border-radius: 1rem;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #12a1e3;
    color: white;
    text-align: center;
}

.container ul li .values{
    
    justify-content: center;
    text-align: center;
    justify-content: center;
   
    margin-top: 30px;
    margin-left:5px;
    margin-right:5px; 
    color: #12a1e3;
    font-size: 3rem;
}

@media screen and (max-width:1250px){
    .container ul li{
        width: 40%;
        margin-left: 50px; 
    }
}

@media screen and (max-width:750px){
    .container{
        width: 90%;
       padding: 0px;
    }

    .container ul li{
        float: none;
        width: 90%;
       padding: 0px;
    }



}

@media all and (max-width:500px){
    .container{
        width: 90%;
       padding: 0px;
    }

    .container ul li{
        /* background: lawngreen; */
        height: 20%;
        float: left;
        width: 30%;
       padding: 0px;
    }

    .container ul li .title{
      padding-top: -5px;
        width: 100%;
        height: 40px;
        /* line-height: 80px; */
        background: #12a1e3;
        color: white;
        text-align: center;
        justify-content: center;
        font-size: 10px;
    }

    .container ul li .values{
    
        justify-content: center;
        text-align: center;
        justify-content: center;
        border-radius: 4px;
        margin-top: 5px;
        margin-left:5px;
        margin-right:5px; 
        color: #12a1e3;
        font-size: 1.5rem;
    }
    


}





@media all and (max-width:380px){
    .container{
        width: 90%;
       padding: 0px;
    }

    .container ul li{
        /* background: lawngreen; */
        height: 20%;
        float: left;
        width: 33%;
       padding: 0px;
    }

    .container ul li .title{
      padding-top: -5px;
        width: 100%;
        height: 40px;
        /* line-height: 80px; */
        background: #12a1e3;
        color: white;
        text-align: center;
        justify-content: center;
        font-size: 10px;
    }

    .container ul li .values{
    
        justify-content: center;
        text-align: center;
        justify-content: center;
        border-radius: 4px;
        margin-top: 5px;
        margin-left:5px;
        margin-right:5px; 
        color: #12a1e3;
        font-size: 1.4rem;
    }
    


}


